<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Covid Tracker</title>
</head>

<body>
    <h1>Covid Tracker</h1>
    <br>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalCases}"}></h1>
        <p>Total cases reported as of today</p>
    </div>
    <table class="table table-striped table-bordered table-hover table-dark">
        <tr>
            <th>State</th>
            <th>Cases</th>
            <th>Deaths</th>
        </tr>
        </thead>
        <tr th:each="stats : ${stats}">
            <td th:text="${stats.state}">
            <td th:text="${stats.cases}">
            <td th:text="${stats.deaths}">
        </tr>
    </table>
</body>

</html>